beautifulsoup4==4.6.0
bleach==3.1.1
Cartridge==0.12.0
certifi==2018.1.18
chardet==3.0.4
Django==1.11.28
django-appconf==1.0.2
django-compress==1.0.1
django-compressor==2.2
django-contrib-comments==1.8.0
django-crispy-forms==1.7.2
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
Mezzanine==4.2.3
oauthlib==2.0.6
Pillow==6.2.0
psycopg2-binary==2.7.4
PyPDF2==1.26.0
pytz==2018.3
rcssmin==1.0.6
reportlab==3.4.0
requests==2.20.0
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
tzlocal==1.5.1
urllib3==1.26.5
webencodings==0.5.1
xhtml2pdf==0.2.1
